<a href="https://colab.research.google.com/github/wagber/Nootebook_Treinando_Python_1/blob/main/Cole%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuplas**

In [ ]:
#Aqui a tupla se comporta como uma variável qualquer que recebe apenas um valor
#type(tupla) = inteiro
tupla = 3

#Aqui a tupla se comporta como uma tupla, pois pode receber valores distintos,
#podendo ser ele do tipo inteiro, string, etc.

#type(tupla2) = tupla
tupla2 = ('a', 1, '1')

In [ ]:
type(tupla)

int

In [ ]:
type(tupla2)

tuple

In [ ]:
tupla3 = ('gato','cachorro','vaca')
tupla3

('gato', 'cachorro', 'vaca')

In [ ]:
#Identificando posição de um dados em uma tupla pelo índice
tupla3.index('cachorro')

1

In [ ]:
#As tuplas são imutáveis, ou seja, não podem ser alteradas quanto ao seu tamanho(tipo de dados),
#restringindo a adição, alteração, remoção e o ordenamento do elementos.
tupla3[0]

'gato'

In [ ]:
#Observe que a tupla3 foi completamente substituida, o que mostra sua imutabilidade quanto aos seus indices.
tupla3 = ('boi')
tupla3

'boi'

In [ ]:
#Obeservamos aqui uma tentativa de adicionar um item em uma tupla usando um método que é próprio das listas
tupla3.append('pinto')

AttributeError: ignored

In [ ]:
#Como saber o tamanho de uma tupla
print(len(tupla3))

3

AttributeError: ignored

In [ ]:
#Percorrendo cada elemento de uma tupla podemos usar um for
for elemento in tupla3:
  print(elemento)

gato
cachorro
vaca

**Listas**

In [ ]:
#Criando listas
lista1 = ['dinossauro','formiga','pato']
lista2 = ['passaro','tatu','rato']
print(lista1, lista2)

['dinossauro', 'formiga', 'pato'] ['passaro', 'tatu', 'rato']

In [ ]:
#Concatenando listas
lista3 = lista1 + lista2
print(lista3)

['dinossauro', 'formiga', 'pato', 'passaro', 'tatu', 'rato']

In [ ]:
#Multiplicando listas
lista3_1 = lista1 * 2
print(lista3_1)

['dinossauro', 'formiga', 'pato', 'dinossauro', 'formiga', 'pato']

In [ ]:
lista4 = ['a', 1]
print(lista4)

['a', 1]

In [ ]:
lista4.append(2)
print(lista4)

['a', 1, 2]

In [ ]:
#Acessando elementos
lista3_1[2]

'pato'

In [ ]:
lista3_1[0:2]

['dinossauro', 'formiga']

In [ ]:
#Identificando a posição de um dados em uma lista
lista3_1.index('pato')

2

In [ ]:
lista3_1.remove('formiga')
print(lista3_1)

['dinossauro', 'pato', 'dinossauro', 'formiga', 'pato']

In [ ]:
lista3_1.remove('formiga')
print(lista3_1)

['dinossauro', 'pato', 'dinossauro', 'pato']

In [ ]:
del(lista4)

In [ ]:
print(lista4)

NameError: ignored

In [ ]:
for elementos in lista3_1:
  print(elementos)

dinossauro
pato
dinossauro
pato

**Dicionários**

In [2]:
#Chave, Valor
rebanho = {'ovelhas': 32, 'vacas': 15, 'novilhas': 5}
rebanho['ovelhas']

32

In [8]:
#Adicionando itens ao dicionário
rebanho['bodes'] = 11
print(rebanho)

{'ovelhas': 32, 'vacas': 15, 'novilhas': 5, 'bodes': 11}

In [10]:
#Deletando itens no dicionario
del(rebanho)['vacas']
print(rebanho)

{'ovelhas': 32, 'novilhas': 5, 'bodes': 11}

In [11]:
#Trazendo um dicionário completo
rebanho.items()

dict_items([('ovelhas', 32), ('novilhas', 5), ('bodes', 11)])

In [12]:
#Trazendo somente as chaves
rebanho.keys()

dict_keys(['ovelhas', 'novilhas', 'bodes'])

In [13]:
#Trazendo somente os valores
rebanho.values()

dict_values([32, 5, 11])

In [14]:
rebanho2 = {'zebra':4,'elefante':6,'leao':20}
print(rebanho2)

{'zebra': 4, 'elefante': 6, 'leao': 20}

In [16]:
#Fazendo um Update nos dicionário, unindo dois dicionários
rebanho.update(rebanho2)
print(rebanho)

{'ovelhas': 32, 'novilhas': 5, 'bodes': 11, 'zebra': 4, 'elefante': 6, 'leao': 20}

In [17]:
rebanho.items()

dict_items([('ovelhas', 32), ('novilhas', 5), ('bodes', 11), ('zebra', 4), ('elefante', 6), ('leao', 20)])

In [20]:
#Percorrendo um dicionário com o for usando duas variáveis
for especie, qtd_especies in rebanho.items():
  print(especie,qtd_especies)

ovelhas 32
novilhas 5
bodes 11
zebra 4
elefante 6
leao 20

**Conjuntos (Set)**

In [25]:
#O conceito de conjuntos é que eles trazem apenas os elementos que não se repetem
#Ele é uma tupla, porém podemos selecionar apenas os elementos que não se repetem
mamiferos = ('gato', 'baleia', 'cachorro', 'homem', 'baleia','vaca','gato','homem',
            'cachorro','gato', 'baleia', 'cachorro', 'homem', 'baleia','vaca','gato','homem','cachorro')
#Observe o USO do SET que represento os conjuntos
set(mamiferos)
#ambas as formas funcionam
print(set(mamiferos))

{'baleia', 'gato', 'homem', 'vaca', 'cachorro'}

In [26]:
#Criando conjuntos e trazendo a intercessão de seus valores, ou seja, apenas os que se repetem entre dois conjuntos
#Observe que aqui é utilizado as chaves e não os parenteses como nas tuplas
conj1 = {1,2,3,4,5}
conj2 = {3,4,5,6,7}
conj3 = conj1.intersection(conj2)
print(conj3)

{3, 4, 5}

In [30]:
#Trazendo a diferença entre dois conjunto
#Apenas a diferença do conj1
dif = conj1.difference(conj2)
print(dif)

{1, 2}

In [31]:
dife = conj2.difference(conj1)
print(dife)

{6, 7}